.registerBackground {
  background: url("/public/brooke-cagle--uHVRvDr7pg-unsplash.jpg");
}

.loginAndRegisterForm>* {
  font-family: poppins-regular;
}

.loginAndRegisterForm .applyInputDesign {
  height: 60px;
  width: 100%;
  padding-left: 15px
}

.loginAndRegisterForm button {
  padding: 10px;
  margin-top: 10px;
  height: 60px;
  font-family: poppins-regular;
}

.loginButton {
  margin-top: 2.2rem !important;
}