@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'poppins-bold';
  src: url('../fonts/Poppins-Bold.ttf') format('ttf'), /* Modern Browsers */
}

section{
  padding-top:2.5rem;
  padding-bottom: 2.5rem;
}
.normalSection{
  margin-bottom: 7.5rem;
}
h1,h2{
  font-weight: 800;
  line-height: 1.6;
  text-transform: uppercase; 
}
h1{
  font-size: 3rem; 
}
h2{
  font-size:2rem;
}

p{
  margin-top:1.25rem;
  font-size: 16px;
}
