@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'poppins-bold';
  src: url('../fonts/Poppins-Bold.ttf') format('ttf'), /* Modern Browsers */
}


h1{
  font-size: 3rem; 
  font-weight: 800;
  line-height: 1.6;
  text-transform: uppercase; 
}
p{
  font-size: 16px;
}
