html{
  scroll-behavior: smooth;
}

h1,h2,h3,h4,h5{
  line-height: 1.6;
  text-transform: uppercase; 
  font-family: 'poppins-bold';
}

h1 { font-size: 3rem; }
h2 { font-size: 2.2rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.75rem; }
h5 { font-size: 1.5rem; }
h6 { font-size: 1.25rem; }

p{
  margin-top:1.25rem;
  font-size: 1rem;
  color:#2d3e50;
  font-family:'poppins-regular'; 
}

section{
  padding-left: 15%;
  padding-right: 15%;
}

.dashedInputContainer input{
  background: transparent;
  border-bottom: 2px solid #eae9ee;
  margin-bottom: 40px;
  width: 100%;
  outline: none;
  padding-bottom: 0;
  margin-top: 10px;
  color: rgb(150, 150, 150);
}