.accountDisplay h6 {
    font-weight: 400;
    font-family: "poppins-regular";
    font-size: 20px;

}

.accountDisplay input {
    background: transparent;
    border-bottom: 2px solid #eae9ee;
    margin-bottom: 40px;
    width: 100%;
    outline: none;
    padding-bottom: 0;
    margin-top: 10px;
    color: rgb(150, 150, 150);

}