.dottedBorder{
    border:2px dashed #2d3e50;
}
.dottedBorder h3{
    font-family: poppins-regular;
    text-transform: none;
    font-weight: 100;
    font-size: 20px;
}
.smallScreenImagesPopUp{
    position: absolute;
    transform: translateY(100%);
    transition: .5s ease-in-out;
    opacity: 0;
    left:10%;
    right:10%;
    padding:20px;
    top:20%;
    bottom:0;
}
.active{
    transform: translateY(0);
    opacity: 1;
}
@media (max-width:400px){
    .dottedBorder h3{
        font-size:16px;
    }
}